\documentclass[10pt, a4paper]{memoir}

% ===========
% ===========
% USER INPUTS:
\newcommand{\AUTHOR}{Sina Atalay}

\newcommand{\PRIMARYCOLOR}{0,79,144} % In RGB out of 255

\newcommand{\PageXMargin}{0.53in}
\newcommand{\PageYMargin}{0.53in}

\newcommand{\TopMarginOfSections}{0.13cm}
\newcommand{\BottomMarginOfSections}{0.13cm}

\newcommand{\YMarginBetweenEntries}{0.12cm}
\newcommand{\YMarginBetweenBullets}{0.07cm}
\newcommand{\LeftMarginOfBullets}{0.7cm}

\newcommand{\DateandLocationWidth}{3.7cm}
% ===========
% ===========

\input{preamble}

\begin{document}
    % Test out the 4 main entry types with the commands below:
    % \Header{a}{b}{c}{d}{e}{f}
    % \section{EducationEntry}
    % \EducationEntry{a}{b}{c}{d}{e}{f}{g}{j}
    % \section{ExperienceEntry}
    % \ExperienceEntry{a}{b}{c}{d}{e}{f}{g}{j}
    % \section{NormalEntry}
    % \NormalEntry{a}{b}{c}{d}{e}{f}
    % \section{OneLineEntry}
    % \OneLineEntry{a}{b}

    % To create the header manually (insted of \Header command), use the code below:
    % \begin{header}[0pt]
    %     \Huge
    %     \textbf{\directlua{tex.print(json.basics.name)}}

    %     \normalsize
    %     \faPhone\hspace{0.13cm}\directlua{tex.print(json.basics.phone)} \hspace{0.5cm}
    %     \href{mailto:\directlua{tex.print(json.basics.email)}}{\faEnvelopeO\hspace{0.13cm}\directlua{tex.print(json.basics.email)}} \hspace{0.5cm}
    %     \href{https://\directlua{tex.print(json.basics.url)}}{\faLaptop\hspace{0.13cm}\directlua{tex.print(json.basics.url)}} \hspace{0.5cm}
    %     \href{https://www.linkedin.com/in/williamhgates}{\faLinkedin\hspace{0.13cm}williamhgates} \hspace{0.5cm}
    %     \href{https://www.github.com/sinaatalay}{\faGithub\hspace{0.13cm}sinaatalay}
    % \end{header}

    \directlua{require("parser.lua")}

    \makeoddhead{headings}{}{}{\small\color{gray}\linespread{0}\emph{Last updated on {\printdayon\today}}\hspace*{0.2cm}}
    \directlua{printHeader()}

    \section{Education}
    \directlua{printEducation()}

    \section{Work Experience}
    \directlua{printExperience()}


    \section{Academic Projects}
    \directlua{printAcademicProjects()}

    \section{Certificates}
    \directlua{printCertificates()}

    \section{Skills}
    \directlua{printSkills()}

    \section{Test Scores}
    \directlua{printTestScores()}

    \section{Personal Projects (test)}
    \directlua{printPersonalProjects()}

    \section{Extracurricular Activities}
    \directlua{printExtracurricularActivities()}

\end{document}