((* macro date_and_location_strings(date_and_location_strings) *))
    ((* for item in date_and_location_strings *))
        ((* if loop.last *))
<<item>>
        ((* else *))
<<item>> \newline
        ((* endif *))
    ((* endfor *))
((* endmacro *))