((* macro dates_and_locations(dates_and_locations) *))
((* for item in dates_and_locations *))
    ((* if loop.last *))
<<item>>
    ((* else *))
<<item>>\newline
    ((* endif *))
((* endfor *))
((* endmacro *))