((* from "components/highlights.tex.j2" import highlights as print_higlights with context *))
((* from "components/dates_and_locations.tex.j2" import dates_and_locations as print_date_and_locations *))

((* macro education(study_type, institution, area, highlights, dates_and_locations)*))
((# \begin{tabularx}{⟨width⟩}[⟨pos⟩]{⟨preamble⟩} #))
    ((# width: \textwidth #))
    ((# preamble: first column, second column, third column #))
        ((# first column: p{0.55cm}; constant width, ragged left column #))
        ((# second column: X; variable width, ragged left column #))
        ((# third column: R{<<design.date_and_location_width>>}; constant widthm ragged right column #))
\begin{tabularx}{\textwidth}{p{0.55cm} X R{<<design.date_and_location_width>>}}
    \textbf{<<study_type if study_type is not none>>}
    & 
    \textbf{<<institution>>}, <<area>>

    <<print_higlights(highlights)|indent(4)>>
    &
    <<print_date_and_locations(dates_and_locations)|indent(4)>>
\end{tabularx}

\vspace{<<design.vertical_margin_between_entries>>}
((* endmacro *))