((* from "components/highlights.tex.j2" import highlights as print_higlights with context *))
((* from "components/date_and_location_strings.tex.j2" import date_and_location_strings as print_date_and_locations with context *))

((* macro education(study_type, institution, area, highlights, date_and_location_strings)*))
((# \begin{tabularx}{⟨width⟩}[⟨pos⟩]{⟨preamble⟩} #))
    ((# width: \textwidth #))
    ((# preamble: first column, second column, third column #))
        ((# first column: p{0.55cm}; constant width, ragged left column #))
        ((# second column: K{<<theme_options.margins.entry_area.left_and_right>>}; variable width, justified column #))
        ((# third column: R{<<theme_options.date_and_location_width>>}; constant widthm ragged right column #))
\begin{tabularx}{\textwidth-<<theme_options.margins.entry_area.left_and_right|divide_length_by(0.5)>>-0.13cm}{L{0.85cm} K{<<theme_options.margins.entry_area.left_and_right>>} R{<<theme_options.date_and_location_width>>}}
    \textbf{<<study_type if study_type is not none>>}
    & 
    \textbf{<<institution|markdown_to_latex>>}, <<area|markdown_to_latex>>
    <<print_higlights(highlights)|indent(4)->>
    &
    <<print_date_and_locations(date_and_location_strings)|indent(4)->>
\end{tabularx}
((* endmacro *))

((* macro experience(company, position, highlights, date_and_location_strings)*))
((# \begin{tabularx}{⟨width⟩}[⟨pos⟩]{⟨preamble⟩} #))
    ((# width: \textwidth #))
    ((# preamble: first column, second column #))
        ((# first column:: K{<<theme_options.margins.entry_area.left_and_right>>}; variable width, justified column #))
        ((# second column: R{<<theme_options.date_and_location_width>>}; constant width ragged right column #))
\begin{tabularx}{\textwidth-<<theme_options.margins.entry_area.left_and_right|divide_length_by(0.5)>>-0.13cm}{K{<<theme_options.margins.entry_area.left_and_right>>} R{<<theme_options.date_and_location_width>>}}
    \textbf{<<company|markdown_to_latex>>}, <<position|markdown_to_latex>>
    <<print_higlights(highlights)|indent(4)->>
    &
    <<print_date_and_locations(date_and_location_strings)|indent(4)->>
\end{tabularx}
((* endmacro *))

((* macro normal(name, highlights, date_and_location_strings, markdown_url=none, link_text=none)*))
((# \begin{tabularx}{⟨width⟩}[⟨pos⟩]{⟨preamble⟩} #))
    ((# width: \textwidth #))
    ((# preamble: first column, second column #))
        ((# first column:: K{<<theme_options.margins.entry_area.left_and_right>>}; variable width, justified column #))
        ((# second column: R{<<theme_options.date_and_location_width>>}; constant width ragged right column #))
    ((* if date_and_location_strings == [] *))
\begin{tabularx}{\textwidth-<<theme_options.margins.entry_area.left_and_right|divide_length_by(0.5)>>-0.13cm}{K{<<theme_options.margins.entry_area.left_and_right>>}}
    ((* if markdown_url is not none *))
        ((* if link_text is not none *))
        ((* set markdown_url = "["+link_text+"]("+ markdown_url|markdown_link_to_url +")" *))
    \textbf{<<name|markdown_to_latex>>}, <<markdown_url|markdown_to_latex>>
        ((* else *))
    \textbf{<<name|markdown_to_latex>>}, <<markdown_url|markdown_to_latex>>
        ((* endif *))
    ((* else *))
    \textbf{<<name|markdown_to_latex>>}
    ((* endif *))
    <<print_higlights(highlights)|indent(4)->>
\end{tabularx}
    ((* else *))
\begin{tabularx}{\textwidth-<<theme_options.margins.entry_area.left_and_right|divide_length_by(0.5)>>-0.13cm}{K{<<theme_options.margins.entry_area.left_and_right>>} R{<<theme_options.date_and_location_width>>}}
    ((* if markdown_url is not none *))
        ((* if link_text is not none *))
        ((* set markdown_url = "["+link_text+"]("+ markdown_url|markdown_link_to_url +")" *))
    \textbf{<<name|markdown_to_latex>>}, <<markdown_url|markdown_to_latex>>
        ((* else *))
    \textbf{<<name|markdown_to_latex>>}, <<markdown_url|markdown_to_latex>>
        ((* endif *))
    ((* else *))
    \textbf{<<name|markdown_to_latex>>}
    ((* endif *))
    <<print_higlights(highlights)|indent(4)->>
    &
    <<print_date_and_locations(date_and_location_strings)|indent(4)->>
\end{tabularx}
    ((* endif *))
((* endmacro *))

((* macro publication(title, authors, journal, date, doi, doi_url)*))
((# \begin{tabularx}{⟨width⟩}[⟨pos⟩]{⟨preamble⟩} #))
    ((# width: \textwidth #))
    ((# preamble: first column, second column #))
        ((# first column:: K{<<theme_options.margins.entry_area.left_and_right>>}; variable width, justified column #))
        ((# second column: R{<<theme_options.date_and_location_width>>}; constant width ragged right column #))
\begin{tabularx}{\textwidth-<<theme_options.margins.entry_area.left_and_right|divide_length_by(0.5)>>-0.13cm}{K{<<theme_options.margins.entry_area.left_and_right>>} R{<<theme_options.date_and_location_width>>}}
    \textbf{<<title>>}

    \vspace{<<theme_options.margins.highlights_area.vertical_between_bullet_points>>}

    <<authors|abbreviate_names|map("replace", " ", " \\nolinebreak ")|join(", ")|make_it_bold(cv.name|abbreviate_name)|make_it_italic(cv.name|abbreviate_name)>>

    \vspace{<<theme_options.margins.highlights_area.vertical_between_bullet_points>>}

    \href{<<doi_url>>}{<<doi>>} (<<journal>>)
    &
    <<date>>

\end{tabularx}
((* endmacro *))

((* macro one_line(name, details, markdown_url=none, link_text=none) *))
    \begingroup((* if theme_options.text_alignment == "left-aligned" *))\raggedright((* endif *))
    \leftskip=<<theme_options.margins.entry_area.left_and_right>>
    \advance\csname @rightskip\endcsname <<theme_options.margins.entry_area.left_and_right>>
    \advance\rightskip <<theme_options.margins.entry_area.left_and_right>>

    ((* if markdown_url is not none *))
        ((* if link_text is not none *))
            ((* set markdown_url = "["+link_text+"]("+ markdown_url|markdown_link_to_url +")" *))
    \textbf{<<name|markdown_to_latex>>:} <<details|markdown_to_latex>> (<<markdown_url|markdown_to_latex>>)
        ((* else *))
    \textbf{<<name|markdown_to_latex>>:} <<details|markdown_to_latex>> (<<markdown_url|markdown_to_latex>>)
        ((* endif *))
    ((* else *))
    \textbf{<<name|markdown_to_latex>>:} <<details|markdown_to_latex>>
    ((* endif *))

    \par\endgroup
((* endmacro *))