((* import "components/header_connections.tex.j2" as print_connections *))
((* macro header(name, connections) *))
\begin{header}
    \fontsize{<<theme_options.header_font_size>>}{<<theme_options.header_font_size>>}
    \textbf{<<name>>}

    \vspace{<<theme_options.margins.header.vertical_between_name_and_connections>>}

    \normalsize
((* for connection in connections *))
    <<print_connections[connection.name|replace(" ", "")](connection.value, connection.url)>>
    ((* if not loop.last *))
    \hspace{0.5cm}
    ((* endif *))
((* endfor *))
\end{header}

\vspace{<<theme_options.margins.header.bottom>>}
((* endmacro *))