((* import "components/header_connections.tex.j2" as print_connections *))
((* macro header(name, connections) *))
\begin{header}
    \Huge
    \textbf{<<name>>}

    \normalsize
((* for connection in connections *))
    <<print_connections[connection.name|replace(" ", "")](connection.value, connection.url)>>
    ((* if not loop.last *))
    \hspace{0.5cm}
    ((* endif *))
((* endfor *))
\end{header}
((* endmacro *))