((# Each macro in here is a link with an icon for header. #))
((* macro LinkedIn(username) *))\href{https://www.linkedin.com/in/<<username>>}{\faLinkedin\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro GitHub(username) *))\href{https://www.github.com/<<username>>}{\faGithub\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro Instagram(username) *))\href{https://www.instagram.com/<<username>>}{\faInstagram\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro phone(number) *))\faPhone\hspace{0.13cm}#2 \hspace{0.5cm}((* endmacro *))
((* macro email(email) *))\href{mailto:<<email>>}{\faEnvelopeO\hspace{0.13cm}<<email>>} \hspace{0.5cm}((* endmacro *))
((* macro website(url) *))\href{<<url>>}{\faLaptop\hspace{0.13cm}url} \hspace{0.5cm}((* endmacro *))

