((# Each macro in here is a link with an icon for header. #))
((* macro LinkedIn(username) *))\href{https://www.linkedin.com/in/<<username>>}{\faLinkedin\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro GitHub(username) *))\href{https://www.github.com/<<username>>}{\faGithub\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro Instagram(username) *))\href{https://www.instagram.com/<<username>>}{\faInstagram\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro phone(number) *))\faPhone\hspace{0.13cm}<<number|replace("tel:", "")|replace("-"," ")>>((* endmacro *))
((* macro email(email) *))\href{mailto:<<email>>}{\faEnvelope[regular]\hspace{0.13cm}<<email>>}((* endmacro *))
((* macro website(url) *))\href{<<url>>}{\faLaptop\hspace{0.13cm}url}((* endmacro *))

