((* macro highlights(highlights) *))
\vspace*{<<theme_options.margins.highlights_area.top>>}
    ((* for item in highlights *))
        ((* if loop.first *))
\begin{highlights}
        ((* endif *))
    \item <<item|markdown_to_latex>>
        ((* if loop.last *))
\end{highlights}
        ((* endif *))
((* endfor *))
((* endmacro *))