((* macro highlights(highlights) *))
\vspace{\YMarginBetweenEntryAndHighlights}
\begin{highlights}
((* for item in highlights *))
    \item <<item>>
((* endfor *))
\end{highlights} 
((* endmacro *))