((* macro highlights(highlights) *))
\vspace{<<design.vertical_margin_between_entries_and_highlights>>}
\begin{highlights}
((* for item in highlights *))
    \item <<item|markdown_to_latex>>
((* endfor *))
\end{highlights} 
((* endmacro *))