((* from "components/highlights.tex.j2" import highlights as print_higlights with context *))
((* from "components/date_and_location_strings.tex.j2" import date_and_location_strings as print_date_and_locations *))

((* macro normal_entry(name, highlights, date_and_location_strings, url, text_url=none)*))
((# \begin{tabularx}{⟨width⟩}[⟨pos⟩]{⟨preamble⟩} #))
    ((# width: \textwidth #))
    ((# preamble: first column, second column #))
        ((# first column:: X; variable width, ragged left column #))
        ((# second column: R{<<design.date_and_location_width>>}; constant width ragged right column #))
\begin{tabularx}{\textwidth}{X R{<<design.date_and_location_width>>}}
    ((* if url is not none *))
        ((* if text_url is not none *))
        ((* set markdown_url = "["+text_url+"]("+ str(url) +")" *))
    \textbf{<<name>>}, <<markdown_url|markdown_to_latex>>
        ((* elif url|is_markdown *))
    \textbf{<<name>>}, <<url|markdown_to_latex>>
        ((* endif *))
    ((* else *))
    \textbf{<<name>>}
    ((* endif *))
    <<print_higlights(highlights)|indent(4)->>
    &
    <<print_date_and_locations(date_and_location_strings)|indent(4)->>
\end{tabularx}
((* endmacro *))