((* macro one_line_information(name, details)*))
\setlength{\leftskip}{0.2cm}
\textbf{<<name>>:} <<details>>

\vspace{<<design.vertical_margin_between_entries>>}
\setlength{\leftskip}{0cm}
((* endmacro *))