((* macro one_line_entry(name, details, url, text_url=none)*))
((# \begin{tabularx}{⟨width⟩}[⟨pos⟩]{⟨preamble⟩} #))
    ((# width: \textwidth #))
    ((# preamble: first column, second column #))
        ((# first column:: X; variable width, ragged left column #))
        ((# second column: R{<<design.date_and_location_width>>}; constant width ragged right column #))
    \setlength{\leftskip}{0.2cm}
    \textbf{<<name>>:} <<details>>

    \vspace{\YMarginBetweenEntries}
    \setlength{\leftskip}{0cm}
((* endmacro *))