((* from "components/highlights.tex.j2" import highlights as print_higlights *))
((* from "components/date_and_location_strings.tex.j2" import date_and_location_strings as print_date_and_locations *))

((* macro project(name, highlights, datesAndLocations)*))
((# \begin{tabularx}{⟨width⟩}[⟨pos⟩]{⟨preamble⟩} #))
    ((# width: \textwidth #))
    ((# preamble: first column, second column #))
        ((# first column:: X; variable width, ragged left column #))
        ((# second column: R{<<design.date_and_location_width>>}; constant width ragged right column #))
\begin{tabularx}{\textwidth}{X R{<<design.date_and_location_width>>}}
    \textbf{<<name>>}

    <<print_higlights(highlights)|indent(4)>>
    &
    <<print_date_and_locations(date_and_location_strings)|indent(4)>>
\end{tabularx}

\vspace{<<design.vertical_margin_between_entries>>}
((* endmacro *))