((# IMPORT MACROS #))
((* from "components/education.tex.j2" import education *))
((* from "components/experience.tex.j2" import experience *))
((* from "components/header.tex.j2" import header *))

\documentclass[10pt, a4paper]{memoir}

% ===========
% ===========
% USER INPUTS:
\newcommand{\AUTHOR}{Sina Atalay}

\newcommand{\PRIMARYCOLOR}{0,79,144} % In RGB out of 255

\newcommand{\PageXMargin}{0.53in}
\newcommand{\PageYMargin}{0.53in}

\newcommand{\TopMarginOfSections}{0.13cm}
\newcommand{\BottomMarginOfSections}{0.13cm}

\newcommand{\YMarginBetweenEntries}{0.12cm}
\newcommand{\YMarginBetweenBullets}{0.07cm}
\newcommand{\LeftMarginOfBullets}{0.7cm}

\newcommand{\YMarginBetweenEntryAndHighlights}{0.1cm}

\newcommand{\DateandLocationWidth}{3.7cm}
% ===========
% ===========


% ======================================================================================
% ======================================================================================
% ======================================================================================
% Packages:
\usepackage[
        ignoreheadfoot, % set margins without considering header and footer
        top=\PageYMargin, % seperation between body and page edge from the top
        bottom=\PageYMargin, % seperation between body and page edge from the bottom
        left=\PageXMargin, % seperation between body and page edge from the left
        right=\PageXMargin, % seperation between body and page edge from the right
        headsep=0.3cm % seperation between head and body
    ]{geometry} % for adjusting page geometry
\usepackage{fontspec} % for loading fonts
\usepackage[explicit]{titlesec} % for customizing section titles
\usepackage{tabularx} % for making tables with fixed width columns
\usepackage{array} % tabularx requires this
\usepackage{xifthen} % for if-then-else statements
\usepackage[dvipsnames]{xcolor} % for coloring text
\definecolor{primaryColor}{RGB}{\PRIMARYCOLOR}
\usepackage{enumitem} % for customizing lists
\usepackage{fontawesome5} % for using icons
\usepackage[
    pdftitle={<<cv.name>>'s CV},
    pdfauthor={<<cv.name>>},
    colorlinks=true,
    urlcolor=primaryColor
]{hyperref} % for links, metadata and bookmarks
% ======================================================================================
% ======================================================================================
% ======================================================================================

% ======================================================================================
% ======================================================================================
% ======================================================================================
% Some settings:
\setcounter{secnumdepth}{0} % no section numbering
\setlength{\parindent}{0pt} % no indentation
\setlength{\topskip}{0pt} % no top skip
\pagenumbering{gobble} % no page numbering

\titleformat{\section}{
        \LARGE\color{primaryColor}
    }{
    }{
    }{
        \textbf{#1}\hspace{0.15cm}\titlerule[0.8pt]
    }[] % Section title formatting

\titlespacing{\section}{
        0pt
    }{
        \TopMarginOfSections
    }{
        \BottomMarginOfSections
    } % Section title spacing

\newcolumntype{L}[1]{
    >{\raggedright\let\newline\\\arraybackslash\hspace{0pt}}p{#1}
} % Left-aligned fixed width column type
\newcolumntype{R}[1]{
    >{\raggedleft\let\newline\\\arraybackslash\hspace{0pt}}p{#1}
} % Right-aligned fixed width column type

\newenvironment{highlights}{
        \begin{itemize}[
                topsep=0pt,
                parsep=\YMarginBetweenBullets,
                partopsep=0pt,
                itemsep=0pt,
                after=\vspace*{-\baselineskip},
                leftmargin=\LeftMarginOfBullets
            ]
    }{
        \end{itemize}
    } % New environment for highlights

\newenvironment{header}{\setlength{\topsep}{0pt}\par\kern\topsep\centering\color{primaryColor}\linespread{1.5}}{\par\kern\topsep} % New environment for the header
% ======================================================================================
% ======================================================================================
% ======================================================================================


\newcommand{\EducationEntry}[8]{
    \begin{tabularx}{\textwidth}{p{0.55cm} >{\raggedright}X R{\DateandLocationWidth}}
        \textbf{#1} & \textbf{#2}, #3 \ifthenelse{\isempty{#6}}{}{\vspace{\YMarginBetweenBullets}\begin{highlights} \item #6 \ifthenelse{\isempty{#7}}{\end{highlights}}{\item #7 \ifthenelse{\isempty{#8}}{\end{highlights}}{\item #8 \end{highlights}}}} & \ifthenelse{\isempty{#4}}{#5}{#4\newline #5} \\
    \end{tabularx}

    \vspace{\YMarginBetweenEntries}
}

\newcommand{\Header}[6]{
    \begin{header}
        \Huge
        \textbf{#1}

        \normalsize
        \faPhone\hspace{0.13cm}#2 \hspace{0.5cm}
        \href{mailto:#3}{\faEnvelope[regular]\hspace{0.13cm}#3} \hspace{0.5cm}
        \href{https://#4}{\faLaptop\hspace{0.13cm}#4} \hspace{0.5cm}
        \href{https://www.linkedin.com/in/#5}{\faLinkedin\hspace{0.13cm}#5} \hspace{0.5cm}
        \href{https://www.github.com/#6}{\faGithub\hspace{0.13cm}#6}
    \end{header}
}

\begin{document}
    % Test out the 4 main entry types with the commands below:
    \Header{a}{b}{c}{d}{e}{f}

    <<header(
        name=cv.name,
        connections=cv.connections
    )>>

    \section{Education}
    ((* for edu in cv.education *))
    <<education(
        study_type=edu.study_type,
        institution=edu.institution,
        area=edu.area,
        highlights=edu.highlights,
        dates_and_locations=[edu.start_date]
    )|indent(4)>>
    ((* endfor *))

    \section{Work Experience}
    ((* for work in cv.work_experience *))
    <<experience(
        company=work.company,
        position=work.position,
        highlights=work.highlights,
        dates_and_locations=[work.start_date]
    )|indent(4)>>
    ((* endfor *))
\end{document}