\documentclass[10pt, a4paper]{memoir}

% ===========
% ===========
% USER INPUTS:
\newcommand{\AUTHOR}{Sina Atalay}

\newcommand{\PRIMARYCOLOR}{0,79,144} % In RGB out of 255

\newcommand{\PageXMargin}{0.53in}
\newcommand{\PageYMargin}{0.53in}

\newcommand{\TopMarginOfSections}{0.13cm}
\newcommand{\BottomMarginOfSections}{0.13cm}

\newcommand{\YMarginBetweenEntries}{0.12cm}
\newcommand{\YMarginBetweenBullets}{0.07cm}
\newcommand{\LeftMarginOfBullets}{0.7cm}

\newcommand{\DateandLocationWidth}{3.7cm}
% ===========
% ===========

% ======================================================================================
% ======================================================================================
% ======================================================================================
% Packages:
\usepackage[
        ignoreheadfoot, % set margins without considering header and footer
        top=\PageYMargin, % seperation between body and page edge from the top
        bottom=\PageYMargin, % seperation between body and page edge from the bottom
        left=\PageXMargin, % seperation between body and page edge from the left
        right=\PageXMargin, % seperation between body and page edge from the right
        headsep=0.3cm % seperation between head and body
    ]{geometry} % for adjusting page geometry
\usepackage{fontspec} % for loading fonts
\usepackage[explicit]{titlesec} % for customizing section titles
\usepackage{tabularx} % for making tables with fixed width columns
\usepackage{array} % for making tables with fixed width columns
\usepackage[dvipsnames]{xcolor} % for coloring text
\usepackage{fontawesome} % for using icons
\usepackage[
    pdftitle={(((cv.name)))'s CV},
    pdfauthor={(((cv.name)))},
    colorlinks=true,
    urlcolor=primaryColor
]{hyperref} % for links, metadata and bookmarks
% ======================================================================================
% ======================================================================================
% ======================================================================================

% ======================================================================================
% ======================================================================================
% ======================================================================================
% Some settings:
\setcounter{secnumdepth}{0} % no section numbering
\setlength{\parindent}{0pt} % no indentation
\setlength{\topskip}{0pt} % no top skip
\pagenumbering{gobble} % no page numbering

\titleformat{\section}{
        \LARGE\color{primaryColor}
    }{

    }{

    }{
        \textbf{#1}\hspace{0.15cm}\titlerule[0.8pt]
    }[] % Section title formatting

\titlespacing{\section}{
        0pt
    }{
        \TopMarginOfSections
    }{
        \BottomMarginOfSections
    } % Section title spacing

\newcolumntype{L}[1]{
    >{\raggedright\let\newline\\\arraybackslash\hspace{0pt}}p{#1}
} % Left-aligned fixed width column type
\newcolumntype{R}[1]{
    >{\raggedleft\let\newline\\\arraybackslash\hspace{0pt}}p{#1}
} % Right-aligned fixed width column type

\newenvironment{highlights}{
        \begin{itemize}[
                topsep=0pt,
                parsep=\YMarginBetweenBullets,
                partopsep=0pt,
                itemsep=0pt,
                after=\vspace*{-\baselineskip},
                leftmargin=\LeftMarginOfBullets
            ]
    }{
        \end{itemize}
    } % New environment for highlights

\newenvironment{header}[1][\topsep]{\setlength{\topsep}{#1}\par\kern\topsep\centering\color{primaryColor}\linespread{1.5}}{\par\kern\topsep} % New environment for the header
% ======================================================================================
% ======================================================================================
% ======================================================================================


\newcommand{\EducationEntry}[8]{
    \begin{tabularx}{\textwidth}{p{0.55cm} >{\raggedright}X R{\DateandLocationWidth}}
        \textbf{#1} & \textbf{#2}, #3 \ifthenelse{\isempty{#6}}{}{\vspace{\YMarginBetweenBullets}\begin{highlights} \item #6 \ifthenelse{\isempty{#7}}{\end{highlights}}{\item #7 \ifthenelse{\isempty{#8}}{\end{highlights}}{\item #8 \end{highlights}}}} & \ifthenelse{\isempty{#4}}{#5}{#4\newline #5} \\
    \end{tabularx}

    \vspace{\YMarginBetweenEntries}
}

\begin{document}
    % Test out the 4 main entry types with the commands below:

    \section{Education}
    ((* set education = cv.education[0] *))
    \EducationEntry{(((education.institution)))}{(((education.area)))}{(((education.studyType)))}{(((education.startDate)))}{(((education.endDate)))}{(((education.gpa)))}{(((education.courses)))}{(((education.location)))}
    \EducationEntry{a}{b}{c}{d}{e}{f}{g}{j}


\end{document}