((* macro date_and_location_strings(date_and_location_strings) *))
    ((* for item in date_and_location_strings *))
        ((* if loop.last *))
<<item>> \hspace*{-0.2cm + <<theme_options.margins.entry_area.right>>}
        ((* else *))
<<item>>  \hspace*{-0.2cm + <<theme_options.margins.entry_area.right>>} \newline
        ((* endif *))
    ((* endfor *))
((* endmacro *))