((# Each macro in here is a link with an icon for header. #))
((* macro LinkedIn(username, url) -*))
\mbox{\href{<<url>>}{{\small\faLinkedinIn}\hspace{0.13cm}<<username>>}}
((*- endmacro *))

((* macro GitHub(username, url) -*))
\mbox{\href{<<url>>}{{\small\faGithub}\hspace{0.13cm}<<username>>}}
((*- endmacro *))

((* macro Instagram(username, url) -*))
\mbox{\href{<<url>>}{{\small\faInstagram}\hspace{0.13cm}<<username>>}}
((*- endmacro *))

((* macro phone(number, url) -*))
\mbox{\href{<<url|replace("-","")>>}{{\footnotesize\faPhone*}\hspace{0.13cm}<<number|replace("tel:", "")|replace("-"," ")>>}}
((*- endmacro *))

((* macro email(email, url) -*))
\mbox{\href{<<url>>}{{\small\faEnvelope[regular]}\hspace{0.13cm}<<email>>}}
((*- endmacro *))

((* macro website(url, dummy) -*))
\mbox{\href{<<url>>}{{\small\faLink}\hspace{0.13cm}<<url|replace("https://","")|replace("/","")>>}}
((*- endmacro *))

((* macro location(location, url) -*))
\mbox{{\small\faMapMarker*}\hspace{0.13cm}<<location>>}
((*- endmacro *))
