((* import "components/classic/header_connections.tex.j2" as print_connections *))
((* macro header(name, connections) *))
\begin{header}
    \Huge
    \textbf{<<name>>}

    \normalsize
((* for connection in connections *))
    <<print_connections[connection.name](connection.value)>>
    ((* if not loop.last *))
    \hspace{0.5cm}
    ((* endif *))
((* endfor *))
\end{header}
((* endmacro *))