((# Each macro in here is a link with an icon for header. #))
((* macro LinkedIn(username) *))\href{https://www.linkedin.com/in/<<username>>}{{\small\faLinkedinIn}\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro GitHub(username) *))\href{https://www.github.com/<<username>>}{{\small\faGithub}\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro Instagram(username) *))\href{https://www.instagram.com/<<username>>}{{\small\faInstagram}\hspace{0.13cm}<<username>>}((* endmacro *))
((* macro phone(number) *)){\footnotesize\faPhone*}\hspace{0.13cm}<<number|replace("tel:", "")|replace("-"," ")>>((* endmacro *))
((* macro email(email) *))\href{mailto:<<email>>}{{\small\faEnvelope[regular]}\hspace{0.13cm}<<email>>}((* endmacro *))
((* macro website(url) *))\href{<<url>>}{{\small\faLink}\hspace{0.13cm}<<url|replace("https://","")|replace("/","")>>}((* endmacro *))

