((* macro highlights(highlights) *))
\vspace*{<<design.margins.highlights_area.top>>}
\begin{highlights}
((* for item in highlights *))
    \item <<item|markdown_to_latex>>
((* endfor *))
\end{highlights}
((* endmacro *))