((* import "components/classic/entry.tex.j2" as entry with context *))

((* macro section_contents(data, entry_type, link_text=none, disableTimeSpan=True)*))
    ((* for value in data *))
        ((* if disableTimeSpan *))
            ((* set date_and_location_strings = value.date_and_location_strings_without_time_span *))
        ((* else *))
            ((* set date_and_location_strings = value.date_and_location_strings *))
        ((* endif *))
        ((* if entry_type == "education" *))
    <<entry["education"](
        study_type=value.study_type,
        institution=value.institution,
        area=value.area,
        highlights=value.highlight_strings,
        date_and_location_strings=date_and_location_strings
    )|indent(4)>>
        ((* elif entry_type == "experience" *))
    <<entry["experience"](
        company=value.company,
        position=value.position,
        highlights=value.highlight_strings,
        date_and_location_strings=date_and_location_strings
    )|indent(4)>>
        ((* elif entry_type == "normal" *))
    <<entry["normal"](
        name=value.name,
        highlights=value.highlight_strings,
        date_and_location_strings=date_and_location_strings,
        markdown_url=value.markdown_url,
        link_text=link_text,
    )|indent(4)>>
        ((* elif entry_type == "one_line" *))
    <<entry["one_line"](
        name=value.name,
        details=value.details,
        markdown_url=value.markdown_url,
        link_text=link_text,
    )|indent(4)>>
        ((* endif *))
        ((* if not loop.last *))
    \vspace*{<<design.vertical_margin_between_entries>>}
    
        ((* endif *))
    ((* endfor *))
((* endmacro *))
