name: Update files

# GitHub events that triggers the workflow:
on:
  workflow_call: # to make the workflow triggerable from other workflows (publish-to-pypi.yaml)
  workflow_dispatch: # to make the workflow triggerable manually

jobs:
  update_files:
    name: Update schema.json, examples, and entry figures
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Hatch
        uses: pypa/hatch@install

      - name: Set Git credentials
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Update schema.json
        continue-on-error: true
        run: |
          hatch run docs:update-schema
          git add schema.json
          git commit -m "docs: update schema.json"

      - name: Update `examples` folder
        continue-on-error: true
        run: |
          hatch run docs:update-examples
          git add examples/*
          git add docs/assets/images/*.png
          git commit -m "docs: update examples"

      - name: Update entry figures
        continue-on-error: true
        run: |
          hatch run docs:update-entry-figures
          git add docs/assets/images/**/*.png
          git commit -m "docs: update entry figures"

      - name: Push changes
        continue-on-error: true
        run: |
          git push origin HEAD:main
